<div id="page-wrapper">
	<div class="header"> 
		<h1 class="page-header">
			仪表盘
		</h1>
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li><a href="#">仪表盘</a></li>
			<li class="active">数据</li>
		</ol> 

	</div>
	<div id="page-inner">

		<div class="dashboard-cards"> 
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image red">
							<i class="material-icons dp48">airplay</i>
						</div>
						<div class="card-stacked red">
							<div class="card-content">
								<h3>{$count}</h3> 
							</div>
							<div class="card-action">
								<strong>智能设备</strong>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image orange">
							<i class="material-icons dp48">import_export</i>
						</div>
						<div class="card-stacked orange">
							<div class="card-content">
								<h3>{$count}</h3> 
							</div>
							<div class="card-action">
								<strong>数据接口</strong>
							</div>
						</div>
					</div> 
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image blue">
							<i class="material-icons dp48">ring_volume</i>
						</div>
						<div class="card-stacked blue">
							<div class="card-content">
								<h3>24,225</h3> 
							</div>
							<div class="card-action">
								<strong>警报提示</strong>
							</div>
						</div>
					</div> 

				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image green">
							<i class="material-icons dp48">language</i>
						</div>
						<div class="card-stacked green">
							<div class="card-content">
								<h3>88,658</h3> 
							</div>
							<div class="card-action">
								<strong>网关</strong>
							</div>
						</div>
					</div> 

				</div>
			</div>
		</div>
		<!-- /. ROW  --> 
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-action">
						智能设备
					</div>
					<div class="card-content">
						<div class="table-responsive">
							<table class="table table-striped table-hover" id="dataTables-example">
								<thead>
									<tr>
										<th>ID</th>
										<th>名称</th>
										<th>APIKEY</th>
										<th class="center">是否开放</th>
										<th class="center">在线状态</th>
										<th class="center">在线时间</th>
										<th class="center">编辑</th>
										<th class="center">控制模式</th>
									</tr>
								</thead>
								<tbody>
									{volist name="list" id="vosub"}
									<!-- <foreach name="vo" item="vosub"> {$vosub['de_pic']}-->
									<tr class="odd gradeX">
										<td>{$vosub.de_id}</td>
										<td>{$vosub.de_name}</td>
										<td>{$vosub.de_apikey}</td>
										<td class="center">
											{if condition="$vosub['de_open'] eq 1"}
											开放
											{else/}关闭
											{/if}
										</td>
										<td class="center">
											{if condition="$vosub['de_open'] eq 1"}
											在线
											{else/}离线
											{/if}
										</td>
										<td class="center">
											<?php echo $vosub['de_ontime'] - $vosub['de_offtime']; ?>
										</td>
										<td class="center">
											<a href="" style="color: inherit;"><i class="material-icons">mode_edit</i></a>
										</td>
										<td class="center" >
											<div style="display: inline;">
												<a href="" style="color: inherit;"><i class="material-icons">perm_camera_mic</i></a>
												<a href="" style="color: inherit;"><i class="material-icons">dashboard</i></a>
												<a href="" style="color: inherit;"><i class="material-icons">assessment</i></a>
											</div>
										</td>
									</tr>
									<!-- {/foreach} -->
									{/volist}

								</tbody>  
							</table>  
						</div>
						{$list->render()}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-action">
						数据接口
					</div>
					<div class="card-content">
						<div class="table-responsive">
							<table class="table table-striped table-hover" id="dataTables-example">
								<thead>
									<tr>
										<th>ID</th>
										<th>名称</th>
										<th>所属设备ID</th>
										<th class="center">接口类型</th>
										<th class="center">更新时间</th>
										<th class="center">编辑</th>
										<th class="center">数据查看</th>
									</tr>
								</thead>
								<tbody>
									{volist name="list" id="vosub"}
									<!-- <foreach name="vo" item="vosub"> {$vosub['de_pic']}-->
									<tr class="odd gradeX">
										<td>{$vosub.de_id}</td>
										<td>{$vosub.de_name}</td>
										<td>{$vosub.de_apikey}</td>
										<td class="center">
											{if condition="$vosub['de_open'] eq 1"}
											开放
											{else/}关闭
											{/if}
										</td>
										<td class="center">
											{if condition="$vosub['de_open'] eq 1"}
											在线
											{else/}离线
											{/if}
										</td>
										<td class="center">
											<?php echo $vosub['de_ontime'] - $vosub['de_offtime']; ?>
										</td>
										<td class="center">
											<a href="" style="color: inherit;"><i class="material-icons">mode_edit</i></a>
										</td>
										<td class="center" >
											<div style="display: inline;">
												<a href="" style="color: inherit;"><i class="material-icons">perm_camera_mic</i></a>
												<a href="" style="color: inherit;"><i class="material-icons">dashboard</i></a>
												<a href="" style="color: inherit;"><i class="material-icons">assessment</i></a>
											</div>
										</td>
									</tr>
									<!-- {/foreach} -->
									{/volist}

								</tbody>  
							</table>  
						</div>
						{$list->render()}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-action">
						警报提示
					</div>
					<div class="card-content">
						<div class="table-responsive">
							<table class="table table-striped table-hover" id="dataTables-example">
								<thead>
									<tr>
										<th>ID</th>
										<th>名称</th>
										<th>接口ID</th>
										<th class="center">警报条件</th>
										<th class="center">发送方式</th>
										<th class="center">状态</th>
										<th class="center">编辑</th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd gradeX">
										<td>Trident</td>
										<td>Internet Explorer 4.0</td>
										<td>Win 95+</td>
										<td class="center">4</td>
										<td class="center">X</td>
										<td>Win 95+</td>
										<td class="center"><i class="material-icons">mode_edit</i></td>
									</tr>

								</tbody>  
							</table>  
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-action">
						DNS网关
					</div>
					<div class="card-content">
						<div class="table-responsive">
							<table class="table table-striped table-hover" id="dataTables-example">
								<thead>
									<tr>
										<th>ID</th>
										<th>名称</th>
										<th>绑定IP</th>
										<th class="center">端口</th>
										<th class="center">密码</th>
										<th class="center">访问地址</th>
										<th class="center">状态</th>
										<th class="center">更新时间</th>
										<th class="center">编辑</th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd gradeX">
										<td>Trident</td>
										<td>Internet Explorer 4.0</td>
										<td>Win 95+</td>
										<td class="center">4</td>
										<td class="center">X</td>
										<td class="center">Win 95+</td>
										<td class="center"></i></td>
										<td class="center"></td>
										<td class="center"><i class="material-icons">mode_edit</i></td>
									</tr>

								</tbody>  
							</table>  
						</div>
					</div>
				</div>
			</div>
		</div>



