{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <meta http-equiv="Pragma" content="no-cache"> 
  <meta http-equiv="Cache-Control" content="no-cache"> 
  <meta http-equiv="Expires" content="0"> 
  <title>逸凡物联</title>
  <link href="__PUBLIC__/login/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="login_box">
    <div class="login_l_img"><img src="__PUBLIC__/login/images/login-img.png" /></div>
    <div class="login" style="height: 500px;">
      <div class="login_logo"><a href="#"><img src="__PUBLIC__/login/images/login_logo.png" /></a></div>
      <div class="login_name">
       <p>逸凡物联</p>
     </div>
     <form method="post" action="{:url('index/Register/register')}">
      <input name="useraccount" type="text" placeholder="账号">
      <input name="password" type="password" id="password" placeholder="密码" />
      <input name="username" type="text" placeholder="姓名">
      <input name="usertel" type="text" placeholder="电话">
      <input value="提交" style="width:100%;" type="submit">
      <a href="{:url('index/Login/index')}">登录</a>
    </form>
  </div>
  <div class="copyright">辽宁工业大学逸凡创新团队 版权所有©2018</div>
</div>
</body>
</html>
