<footer>    

</footer>
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="__JS__/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="__JS__/bootstrap.min.js"></script>

<script src="__PUBLIC__/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="__JS__/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="__JS__/morris/raphael-2.1.0.min.js"></script>
<script src="__JS__/morris/morris.js"></script>


<script src="__JS__/easypiechart.js"></script>
<script src="__JS__/easypiechart-data.js"></script>

<script src="__JS__/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="__JS__/custom-scripts.js"></script> 


</body>

</html>